<form class="amount" #form="ngForm" *ngIf="!submitted" (ngSubmit)="onInsert(form)" novalidate autocomplete="off" >
  <div class="buttons">
    <mat-form-field>
      <label>
        <input matInput type="string" placeholder="Insert Coin" [(ngModel)]="coin.coin" #coin="ngModel" pattern="(1|2|5|10)" name="coin" required/>
      </label>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="form.invalid">Insert</button>
    <button mat-raised-button>Dispense</button>
  </div>
</form>