<form class="amount" #form="ngForm" novalidate autocomplete="off" >
  <div class="buttons">
    <mat-form-field>
      <label>
        <input matInput #coin placeholder="Insert Coin"  pattern="(1|2|5|10)" name="coin" required/>
      </label>
    </mat-form-field>
    <button mat-raised-button #coin (click)="onInsert(coin.value);coin.value='';" [disabled]="coin.invalid">Insert</button>
    <button mat-raised-button  [disabled]="submitted" (click)="dispenseItems()"  onclick="window.location.reload()">Dispense </button>
  </div>
</form>
